<br>
<table class="row introduction">
    <tr>
        <td class="center" align="center">
            <center>

                <table class="container">
                    <tr>
                        <td class="wrapper last">

                            <table class="twelve columns">
                                <tr>
                                    <td mc:edit="main_image">
                                        <a href="https://www.designathon.ch/" title="Designathon.ch"><img src="images/dn-banner.jpg"></a>
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>

            </center>
        </td>
    </tr>
</table>
