<table class="row secondary-copy">
    <tr>
        <td class="center" align="center">
            <center>

                <table class="container">
                    <tr>
                        <td class="wrapper last">

                            <table class="twelve columns">
                                <tr>
                                    <td>
                                        <h1 mc:edit="main_title">Title Designathon</h1>
                                        <p mc:edit="main_text">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                                <tr>
                                    <td mc:repeatable mc:hideable>
                                        <h2 mc:edit="subtitle">Subtitle Designathon</h2>
                                        <p mc:edit="secondary_text">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <!-- Button -->
                            <table class="row">
                                <tr>
                                    <td class="center">

                                        <table class="twelve columns">
                                            <tr>
                                                <td>

                                                    <table class="button">
                                                        <tr>
                                                            <td>
                                                                <a mc:edit="button_link"href="#">Click Me!</a>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </td>
                                                <td class="expander"></td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

            </center>
        </td>
    </tr>
</table>
