<table class="row footer">
    <tr>
        <td class="center" align="center">
            <center>
                <table class="container">
                    <tr>
                        <td class="wrapper last">
                            <table class="twelve columns">
                                <tr>
                                    <td align="center">
                                        <center>
                                            <p mc:edit="unsubscribe">
                                                *|IFNOT:ARCHIVE_PAGE|*
                                                    *|LIST:DESCRIPTION|*
                                                    <br>
                                                    <br>
                                                    <br>
                                                    Want to change how you receive these emails?<br>
                                                    You can <a href="*|UPDATE_PROFILE|*">update your preferences</a> or <a href="*|UNSUB|*">unsubscribe from this list</a>.
                                                    <br>
                                                    <br>
                                                    *|FACEBOOK:LIKE|*
                                                    <br>
                                                    <br>
                                                    *|IF:REWARDS|* *|HTML:REWARDS|*
                                                *|END:IF|*
                                            </p>
                                        </center>
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </center>
        </td>
    </tr>
    <tr>
      <td>
        <center>
          <table class="container">
            <tr mc:repeatable mc:label="Spacer">
              <td>
                <div class="spacer"></div>
              </td>
            </tr>
            <tr>
              <td>
                <table class="three">
                  <tr class="">
                    <td>
                      <a href="https://www.designathon.ch/" title="Designathon.ch" target="_blank" rel="nofollow"><img src="images/designathon_mini_logo.png" alt="designathon mini logo" /></a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr mc:repeatable mc:label="Spacer">
              <td>
                <div class="spacer"></div>
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
</table>
