<table class="row header">
    <tr>
        <td class="center" align="center">
            <center>

                <table class="container">
                    <tr>
                        <td class="wrapper last">

                          <table class="twelve columns">
                            <tr class="center">
                                <td class="">
                                  <a href="*|ARCHIVE|*" target="_blank" mc:edit="browser_link">View this email in your browser</a>
                                </td>
                            </tr>
                          </table>

                        </td>
                    </tr>
                </table>

            </center>
        </td>
    </tr>
</table>
