// Main Colors
$brand-color: #46df96;
$light-color: #fff;

// Backgrounds
$body-background: $light-color;

// Text Colors
$text-color: #000;
$alt-text-color: $brand-color;

// Link Colors
$link-color: $brand-color;
$link-color-hover: darken($link-color, 5%);

// Button Colors
$button-bg-color: $brand-color;
$button-bg-color-hover: lighten($button-bg-color, 5%);
$button-text-color: #000;
